.bg-navbar {
	background: rgb(204, 204, 176) !important;
    min-height:9rem !important;
}
input[type="file"] {
    display: none;
}
.file{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}