APScheduler==3.10.1
Babel==2.12.1
bcrypt==4.0.1
black==23.11.0
dateparser==1.2.0
deepmerge==1.1.0
flasgger==0.9.7.1
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.3
flask-marshmallow==0.15.0
flask-mongoengine==1.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.1.1
GeoAlchemy2==0.14.2
isort==5.12.0
nested-lookup==0.2.25
psycopg2-binary==2.9.6
pylint==2.17.4
pymongo==4.3.3
PyPDF2==3.0.1
reportlab==4.0.7
shapely==2.0.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.1