Frontend/node_modules/*
Frontend/build*
Frontend/yarn*
Frontend/.env
Backend/env/*
Backend/__pycache__
Backend/app/__pycache__
Backend/*/__pycache__
Backend/.env
_front/node_modules/*
_front/build*
_front/public/*
_front/yarn*
_front/.env