Babel==2.12.1
dateparser==1.1.8
deepmerge==1.1.0
flasgger==0.9.7.1
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
flask-marshmallow==0.15.0
flask-mongoengine==1.0.0
Flask-SQLAlchemy==3.0.3
GeoAlchemy2==0.13.3
marshmallow-sqlalchemy==0.29.0
mongoengine==0.27.0
nested_lookup==0.2.25
psycopg2==2.9.6
pymongo==4.3.3
PyPDF2==3.0.1
reportlab==4.0.4