/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bg-navbar {
	background: rgb(204, 204, 176) !important;
}
.text-navbar {
	color: rgb(16, 162, 162) !important;
}
.card {
	border-radius: 30px !important;
}
.table-bordered {
	border-radius: 30px !important;
}
.bg-navbar {
	background: rgb(204, 204, 176) !important;
}
