/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bg-navbar {
	background: rgb(204, 204, 176) !important;
}
.text-navbar {
	color: rgb(16, 162, 162) !important;
}
.card {
	border-radius: 30px !important;
}
.table-bordered {
	border-radius: 30px !important;
}
.bg-navbar {
	background: rgb(204, 204, 176) !important;
}

.wrap{
	width:100%;
	height:100%;
	padding:0;
	overflow:hidden;
	
}
.frame{
	width:800px;
	height:100%;
	border:1px solid black;


	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);

	-ms-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;

}